parameters:
  - name: azureSubscription
    type: string
  - name: azureEnvironment
    type: string
  - name: vmEnvironment
    type: string
  - name: environmentName
    type: string

stages:
- stage: deploy_${{ parameters.environmentName }}
  jobs:
    - deployment: deploy_terraform
      environment: ${{ parameters.azureEnvironment }}

      variables:
      - group: ${{ parameters.azureEnvironment }}

      workspace:
        clean: all

      strategy:
        runOnce:
          deploy:
            steps:
              - checkout: self

              - template: tasks/terraform-plan-and-apply.yml@ado-pipeline-templates
                parameters:
                  azureSubscription: "${{ parameters.azureSubscription }}"
                  terraformFolder: 'terraform'
                  terraformVarFile: 'tfvars/${{ parameters.environmentName }}.tfvars'
                  terraformBackendFile: 'backends/${{ parameters.environmentName }}.backend.hcl'

    - deployment: 'DeployToVirtualMachine'
      dependsOn: deploy_terraform

      variables:
      - name: client_app_id
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.client_app_id'] ]
      - name: client_app_secret
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.client_app_secret'] ]
      - name: repository_api_audience
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.repository_api_audience'] ]
      - name: event_ingest_api_audience
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.event_ingest_api_audience'] ]
      - name: mysql_connection_string
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.mysql_connection_string'] ]
      - name: repository_api_base_url
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.repository_api_base_url'] ]
      - name: event_ingest_api_base_url
        value: $[ dependencies.deploy_terraform.outputs['deploy_terraform.terraform_output.event_ingest_api_base_url'] ]

      environment:
        name: ${{ parameters.vmEnvironment }}
        resourceType: VirtualMachine

      strategy:
        runOnce:
          deploy:
            steps:
              - checkout: self

              - task: PowerShell@2
                inputs:
                  pwsh: true
                  targetType: 'inline'
                  script: |
                    Write-Host "Running on $($env:COMPUTERNAME)"

              - task: PowerShell@2
                inputs:
                  pwsh: true
                  filePath: 'scripts/Deploy-BotEnvironment.ps1'
                  arguments: '-sourceWorkingDirectory "$(System.DefaultWorkingDirectory)" -environment "${{ parameters.environmentName }}" -clientAppId "$(client_app_id)" -clientAppSecret "$(client_app_secret)" -repositoryApplicationAudience "$(repository_api_audience)" -eventIngestApplicationAudience "$(event_ingest_api_audience)" -mysqlConnectionString "$(mysql_connection_string)" -repositoryApiBaseUrl "$(repository_api_base_url)" -eventIngestApiBaseUrl "$(event_ingest_api_base_url)"'
                  